html, body { margin-top: 2em; }
h1{
	padding-top: 10px;
	padding-bottom: 20px;
	color: white;
	display: block;
	text-align: center;
}
h2{
	color: rgb(194, 194, 194);
	display: block;
	text-align: center;
}
h3{
	margin: 5px 0px 5px 0px;
}
button{
	cursor: pointer;
	text-decoration: none;
	color: white;
	background-color:rgb(158, 45, 45);
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	width: 40px;
	height: 40px;
	border: none;
}
th{
	color: rgb(214, 198, 146);
	font-weight: bold;
}
#canvas{
	background-color:#333333;
}
#canvasContainer{
	height:450px;
	width: 600px;
	margin: 0 auto; 
	display:none;
}
#notification{
	color: red;
}
#pauseMenu, #winMenu, #loseMenu, #finishMenu{
	position: relative;
	top: -300px;
	background-color: #333555;
}
#UI{
	vertical-align: center;
	background-color:#333333;
	width: 600px;
	height: 450px;
	margin: 0 auto;
}
#mute{
	float:right;
	width: 70px !important;
}
.mainSpace{
	height: 300px;
	width: 400px;
	margin: 0 auto;
}
.halfSpace{
	vertical-align: top;
	height: 300px;
	width: 190px;
	margin-left: 5px;
	display: inline-block;
}
.center{
	height: 300px;
	width: 190px;
	margin: 0 auto;
}
.levels > button{
	cursor: pointer;
	text-decoration: none;
	color: white;
	background-color:rgb(158, 45, 45);
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	width: 40px;
	height: 40px;
	border: none;
}
.forbidden{
	cursor: default !important;
	color: red !important;
}
.menu{
	width:200px;
	display:block;
	margin: 0 auto;
}
.menu > a{
	display:block;
	text-align:center;
	color: white;
	text-decoration:none;
	padding: 10px;
	margin-bottom: 7px;
	background-color:rgb(158, 45, 45);
	border-radius: 5px;
}
.menu > a:hover{
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: rgb(27, 10, 10);
	background-image: -moz-linear-gradient(top, rgb(175, 64, 64), rgb(27, 10, 10));
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(175, 64, 64)), to(rgb(27, 10, 10)));
	background-image: -webkit-linear-gradient(top, rgb(175, 64, 64), rgb(27, 10, 10));
	background-image: -o-linear-gradient(top, rgb(175, 64, 64), rgb(27, 10, 10));
	background-image: linear-gradient(to bottom, rgb(175, 64, 64), rgb(27, 10, 10));
	background-repeat: repeat-x;
	border-color: rgb(27, 10, 10) rgb(27, 10, 10) #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.hidden{
	display:none;
}
.green{
	color: green;
}
.red{
	color: red;
}
